* {
    margin: 0;
}

img {
    width: 100%;
}

.wrap {
    display: flex;
    flex-direction: row;
}

.content {
    flex-basis: 600px;
    flex-grow: 2;
}

.image {
    flex-basis: 200px;
    flex-grow: 1;
}

.light {
    background-color: #101010;
}

.dark {
    background-color: black;
}

/* ---------- SKRIFTTYPE ------- */

@font-face {
    font-family: 'besom_extendedregular';
    src: url('fonte/besom-extended-webfont.woff2') format('woff2'),
    url('font/besom-extended-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

p {
    font-family: 'Roboto', sans-serif;
    color: white;
}

h1,
h2,
h3 {
    /*font-family: 'besom_extendedregular';*/
    font-family: 'Besom extended';
    font-size: 3em;
    color: #f8d1e4;
}

nav {
    background-color: black;
    padding: 1em;
    text-align: center;
    position: sticky;
    top: 0px;
}

nav a {
    color: white;
    /*font-family: 'besom_extendedregular';*/
    font-family: 'Besom extended';
    text-decoration: none;
    font-size: 2em;
    display: inline-block;
    padding: 0 1em 0 1em;
    align-items: center;
}

nav a:hover {
    color: #f8d1e4;
}

.center {
    display: block;
    margin: auto;
    width: 50%;
}

#top {
    height: 40vh;
    width: 100%;
    background-image: url(billeder/Purplelatte.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}

#top img {
    width: 30vh;
    padding-top: 5vh;
}

#fyld {
    height: 150vh;
}
